{% extends 'base.html' %}
{% block title %}{{ user_obj.get_full_name|default:user_obj.username }}{% endblock %}

{% block content %}
<div class="task-view">
    <h1>Profile of: {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Username: {{ user_obj.username }}</p>
    <p>Name: {{ user_obj.first_name }}</p>
    <p>Last Name: {{ user_obj.last_name }}</p>
    <p>Summary: {{ user_obj.profile.summary }}</p>
    <p>Github Profile: {{ user_obj.profile.github }}</p>
    <p>Email: {{ user_obj.email }}</p>
</div>
<h2 class="text-center clear" style="font-weight: 700; text-transform: uppercase;">Albums of {{ user_obj.username }}:</h2>
{% for album in user_obj.album.all %}
{% if album.is_public or user.pk == album.author.pk %}
<div class="task-view">
            <h1>Album: {{ album.name }}</h1>
            <h2>Description: {{ album.description }}</h2>
            <p>Author: {{ album.author }}</p>
        <p>Date: {{ album.created_at }}</p>
    <a class="btn btn-outline-info" href="{% url 'album-detail' album.pk %}">See More..</a>
            {% if perms.webapp.change_album %}
             <a class="btn btn-outline-info" href="{% url 'album-update' album.pk %}">Update</a>
            {% endif %}
            <a class="btn btn-outline-info" href="#">Add to Favs</a>
            {% if perms.webapp.delete_album %}
            <button type="button" class="btn btn-outline-info waves-effect px-3" data-toggle="modal" data-target="#deletion">Delete
            </button>
            {% endif %}
            </div>
{% endif %}
{% empty %}
                    <p>No albums yet.</p>
{% endfor %}
<h2 class="text-center clear" style="font-weight: 700; text-transform: uppercase;">Images of {{ user_obj.username }}:</h2>
    {% for image in user_obj.image.all %}
{% if image.is_public or user.pk == image.author.pk %}
            <div class="task">
            <img src="/{{ image.image.url }}" width="250" height="250" alt="">
                    <h2>{{ image.description }}</h2>
                    <p>Author: {{ image.author }}</p>
                    <p>Date: {{ image.created_at }}</p>
                    <p>
                        Album: <a href="{% url 'album-detail' image.album.pk %}"> {{ image.album }}</a>
                    </p>
                <a href="{% url 'image-detail' image.pk %}">See more..</a>
                    <hr>
            </div>
{% endif %}
{% empty %}
    <p>No images yet.</p>
    {% endfor %}
<h2 class="text-center clear" style="font-weight: 700; text-transform: uppercase;">Favorite Images of {{ user_obj.username }}:</h2>
{% for image in user_obj.author.all %}
{% if image.image.is_public or user.pk == image.image.author.pk %}
            <div class="task">
            <img src="/{{ image.image.image.url }}" width="250" height="250" alt="">
                    <h2>{{ image.image.description }}</h2>
                    <p>Author: {{ image.image.author }}</p>
                    <p>Date: {{ image.image.created_at }}</p>
                    <p>
                        Album: <a href="{% url 'album-detail' image.image.album.pk %}"> {{ image.image.album }}</a>
                    </p>
                <a href="{% url 'image-detail' image.image.pk %}">See more..</a>
                    <hr>
            </div>
{% endif %}
{% empty %}
<p>No favorite images yet.</p>
{% endfor %}

<br>
<h2 class="text-center clear" style="font-weight: 700; text-transform: uppercase;">Favorite Albums of {{ user_obj.username }}:</h2>
{% for album in user_obj.userid.all %}
{% if album.is_public or user.pk == album.author.pk %}
<div class="task-view">
            <h1>Album: {{ album.name }}</h1>
            <h2>Description: {{ album.description }}</h2>
            <p>Author: {{ album.author }}</p>
        <p>Date: {{ album.created_at }}</p>
            {% if perms.webapp.change_album %}
             <a class="btn btn-outline-info" href="{% url 'album-update' album.pk %}">Update</a>
            {% endif %}
            <a class="btn btn-outline-info" href="#">Add to Favs</a>
            {% if perms.webapp.delete_album %}
            <button type="button" class="btn btn-outline-info waves-effect px-3" data-toggle="modal" data-target="#deletion">Delete
            </button>
            {% endif %}
            </div>
{% endif %}
{% empty %}
    <p>No favorite albums yet.</p>
{% endfor %}

{% endblock %}