{% for image in images %}
<div class="task">
        <img src="../{{ image.image.url }}" width="250" height="250" alt="">
        <h2>{{ image.description }}</h2>
        <a href="{% url 'detail' image.author.pk %}">{{ image.author }}</a>
        <p>Date: {{ image.created_at }}</p>
        <p>
            Album: <a href=" {% url 'images:album-detail' image.album.pk %} ">{{ image.album }}</a>
        </p>
    <a href="{% url 'images:image-detail' image.pk %}">See more..</a>
        <hr>
</div>
{% endfor %}
{% if is_paginated %}

{% include 'partial/pagination.html' %}

{% endif %}
